## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [3]:
import random as rd

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here
sample_list_1 = []

for x in range(0,101):
     sample_list_1.append(x)
    
sample_list_1 = rd.sample(sample_list_1,80)
    
print(len(sample_list_1))
print(sample_list_1)

80
[3, 53, 19, 6, 11, 28, 90, 15, 92, 56, 23, 66, 62, 65, 39, 41, 25, 40, 77, 82, 89, 37, 70, 86, 72, 85, 24, 51, 29, 71, 97, 78, 54, 64, 48, 4, 57, 12, 45, 0, 22, 79, 1, 9, 59, 21, 10, 13, 63, 95, 61, 7, 99, 50, 31, 2, 69, 80, 42, 100, 98, 14, 44, 36, 88, 81, 84, 52, 27, 83, 49, 18, 35, 33, 74, 55, 5, 96, 87, 93]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print(len(set1))

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 18, 19, 21, 22, 23, 24, 25, 27, 28, 29, 31, 33, 35, 36, 37, 39, 40, 41, 42, 44, 45, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 62, 63, 64, 65, 66, 69, 70, 71, 72, 74, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 95, 96, 97, 98, 99, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [7]:
# Your code here
sample_list_2 = []
for x in range(0,80):
    sample_list_2.append(rd.randrange(0,100))
     
print(len(sample_list_2))
print(sample_list_2)

80
[93, 22, 13, 3, 85, 15, 76, 34, 69, 15, 13, 71, 12, 89, 28, 18, 7, 93, 83, 27, 89, 75, 96, 63, 13, 77, 92, 42, 0, 72, 51, 79, 88, 77, 17, 60, 75, 83, 39, 56, 99, 64, 76, 81, 79, 97, 49, 69, 82, 17, 77, 88, 82, 92, 50, 7, 33, 56, 78, 81, 68, 84, 1, 75, 90, 72, 20, 4, 76, 6, 89, 65, 11, 92, 90, 53, 9, 9, 67, 59]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [8]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
print(set2)

54
{0, 1, 3, 4, 6, 7, 9, 11, 12, 13, 15, 17, 18, 20, 22, 27, 28, 33, 34, 39, 42, 49, 50, 51, 53, 56, 59, 60, 63, 64, 65, 67, 68, 69, 71, 72, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 88, 89, 90, 92, 93, 96, 97, 99}

In [ ]:
no, porque set elimina los duplicados y ordena los numeros que quedan

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [9]:
# Your code here
set3 = set()

set3.update(set1-set2)

print(set3)

{2, 5, 10, 14, 19, 21, 23, 24, 25, 29, 31, 35, 36, 37, 40, 41, 44, 45, 48, 52, 54, 55, 57, 61, 62, 66, 70, 74, 80, 86, 87, 95, 98, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [10]:
# Your code here
set4 = set()
set4.update(set2-set1)
  
print(set4)

{34, 67, 68, 75, 76, 17, 20, 60}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [11]:
# Your code here
set5 = set()
set5.update(set1 and set2)
print(set5)

# Es igual que set2 porque todos los numeros en set2 estan en set1

{0, 1, 3, 4, 6, 7, 9, 11, 12, 13, 15, 17, 18, 20, 22, 27, 28, 33, 34, 39, 42, 49, 50, 51, 53, 56, 59, 60, 63, 64, 65, 67, 68, 69, 71, 72, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 88, 89, 90, 92, 93, 96, 97, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [14]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
54
34
8
54

#### Create an empty set called `set6`.

In [13]:
# Your code here
set6 = set()
print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [15]:
# Your code here
set6.update(set3 | set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 31, 33, 34, 35, 36, 37, 39, 40, 41, 42, 44, 45, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [16]:
# Your code here
print(set1 == set6)

False

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [17]:
# Your code here
print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [19]:
# Your code here

#### Using the `pop` method, remove the first element from `set1`.

In [20]:
# Your code here
set1 = list(set1)
set1.pop(0)

set1 = set(set1)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 15, 18, 19, 21, 22, 23, 24, 25, 27, 28, 29, 31, 33, 35, 36, 37, 39, 40, 41, 42, 44, 45, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 61, 62, 63, 64, 65, 66, 69, 70, 71, 72, 74, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 95, 96, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [23]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1 = list(set1)

for x in range(0,len(list_to_remove)):
    for y in range(0,len(set1)-1):
        if list_to_remove[x] == set1[y]:
            set1.pop(y)

print(set1)

[2, 3, 4, 5, 6, 7, 10, 12, 13, 14, 15, 18, 22, 23, 24, 25, 27, 28, 33, 35, 36, 37, 40, 42, 44, 45, 48, 50, 52, 53, 54, 55, 56, 57, 62, 63, 64, 65, 66, 70, 72, 74, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 95, 96, 97, 98, 100]

In [ ]:
terminado